html{
	background-color: #B6AFA0;
}

.titlu{
	display: grid;
	grid-template-columns: 40px auto;
	color: white;
	padding-bottom: 20px;
	font-size: 40px;
}

.titl1{
	grid-column: 2;
	justify-content: center;
	display: flex;
}

.return{
	display: inline-block;
	text-decoration: none;
	grid-column: 1;
	height: 20px;
	width: 50px;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	background-color: #B6AFA0;
	border-width: 2px;
	border-color: rgb(131, 131, 131);
	border-radius: 30px;
	color: black;
}

.reguli{
	padding: 40px;
}

.intrebari{
	padding-top: 40px;
	padding-left: 40px;
	font-size: 20px;
}

.stylebut{
	display: grid;
	grid-template-columns: 40px 150px;
	grid-template-rows: 40px;
	background-color: gray;
	margin-top: 5px;
	align-items: center;
	margin-left: 10px;
	border-radius: 10px;
}

.nr{
	grid-column: 1;
	background-color: black;
	color: white;
	justify-content: center;
	border-radius: 10px;
}

.rasp{
	grid-column: 2;
	justify-content: center;
	color: white;
}

.textbox {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }